/*
|------------------------------------------------------------
| Typography
|------------------------------------------------------------
*/

/* @include font-face(
    "FontName",
    font-files(
        "FontName.woff",
        "FontName.ttf",
        "FontName.svg"),
    "FontName.eot"
); */
@import url(http://fonts.googleapis.com/earlyaccess/notokufiarabic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notonaskharabic.css);

%basic-font { font-family: Arial, Helvetica, sans-serif; }
%kufi { font-family: 'Noto Kufi Arabic', "Noto Serif", serif; }
%kufi--bold { font-family: 'Noto Kufi Arabic', "Noto Serif", serif; font-weight: 700;}
%naskh { font-family: 'Noto Naskh Arabic', "Noto Serif", serif; }
%naskh--bold { font-family: 'Noto Naskh Arabic', "Noto Serif", serif; font-weight: 700;}