/*
|------------------------------------------------------------
| Comment
|------------------------------------------------------------
*/
.b_comment {
	display: block;
	width: 100%;
	p {
		text-align: right;
		color: $para-color;
	}
}

.b_comment__title {
	@extend %kufi;
	display: block;
}

.b_comment__author {
	display: block;
	color: $gold;
	&:hover {
		text-decoration: underline;
	}
	img {
		float: right;
		margin-left: 10px;
	}
}

.b_comment__post-comment {
	border-top: 1px solid $border;
	.inner-wrapper {
		float: right;
		@include calc (width, 100%, "-", 51px, 90%);
	}
	textarea {
		width: 100%;
	}
}