/*
|------------------------------------------------------------
| Editor
|------------------------------------------------------------
*/
.b_editor {
	display: block;
	text-align: center;
	margin: 0 0 $base-spacing-unit;
}

.b_editor--tright {
	text-align: right;
}

.b_editor__date {
	display: inline-block;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #AFAFAF;
	color: #999;
}

.b_editor__author {
	display: inline-block;
	color: $gold;
	img {
		float: right;
		margin-left: 10px;
	}
}

.b_editor__categorie {
	display: inline-block;
	color: $gold;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #AFAFAF;
}