/*
|------------------------------------------------------------
| Media
|------------------------------------------------------------
| Credit: William Fendler || http://wfendler.com/blog/perfecting-the-media-object
|------------------------------------------------------------
| Valign
|------------------------------------------------------------
| Credit: Harry Robert || http://csswizardry.com/2013/05/the-flag-object/
|------------------------------------------------------------
*/
.media {
  float: right;
  overflow: hidden;
  margin-bottom: 30px;
}

.media__item {
  float: left;
  width: auto;
  @include calc (max-width, 50%, "-", $base-spacing-unit, 48%);
  @include breakpoint (tablet) {
    width: auto;
  }
  &--overlay {
    position: relative;
  }  
}

.media__body {
  &--light-text {
    p {
      color: $para-color;
    }
    .inner-wrapper {
      p {
        color: $para-color;
      }
    }
  }
  .inner-wrapper {
    float: right;
    @include calc (width, 100%, '-', 65px, 79%);
  }
  .media__title {
    color: $dark-gray;
    font-size: 18px;
    line-height: 1.2;
    word-wrap: break-word;
    @extend %kufi;
    @include breakpoint (tablet) {
      font-size: 30px;
      line-height: 36px;
    }
    &--medium {
      font-size: 24px;
      line-height: 1.5;
    }
    &--small {
      font-size: 14px;
      line-height: 24px;
    }
    &--tiny {
      font-size: 12px;
      line-height: 22px;
    }
  }
  .media__subtitle {
    @extend %kufi;
    font-size: 18px;
    color: $dark-gray;
    margin: 0;
  }
  p {
    @extend %naskh;
    font-size: 18px;
    line-height: 1.5;
    color: $dark-gray;
    text-align: right;
  }
}

.media__hline {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: $base-spacing-unit;
  background: image-url("icons/hline.png") repeat-x left center;
  span {
    display: inline-block;
    color: $dark-gray;
    background: $white;
    padding: 0 10px;
  }
}

.media__event {
  display: block;
  text-align: right;
  .media__title {
    margin: 0;
  }
  .event__location {
    display: block;
    .location {
      display: inline-block;
      vertical-align: middle;
      padding: 5px 0;
    }
  }
  .event__time {
    display: block;
    .date {
      display: inline-block;
      vertical-align: middle;
      padding: 5px 0;
    }
  }
}

// Modifiers
.media__event--large {
  .media__title {
    border-bottom: 1px solid #D2D2D2;
    margin: 0;
    padding: 10px 0;
  }
  .event__location {
    float: right;
    width: 50%;
    border-left: 1px solid #D2D2D2;
    .location {
      display: inline-block;
      vertical-align: middle;
      padding: 5px 0;
    }
  }
  .event__time {
    float: right;
    width: 50%;
    .date {
      display: inline-block;
      vertical-align: middle;
      padding: 5px 0;
    }
  }
}

.media--event {
  padding: 5px;
  background: $white;
  width: 100%;
}

.media--flip {
  > .media__item {
    margin-right: 0; //resetting the default right margin
    margin-left: $base-spacing-unit/2;
    float: right;
    @include breakpoint (tablet) {
      margin-left: $base-spacing-unit;
    }
  }
}

.media--stack {
  > .media__item {
    float: none;
    margin-left: 0;
    margin-bottom: $base-spacing-unit;
  }
}

.media--nowrap {
  > .media__body {
    overflow: hidden; //doesnt allow text to wrap around the floated image
  }
}

.media--large {
  .media__item {
    width: 100%;
    max-width: 100%;
    img {
      margin: 0 auto;
      @include breakpoint (tablet) {
        margin: 0;
      }
    }
  }
  .media__body {
    width: 100%;
    padding-top: 10px;
    .item-categorie {
      margin-top: 20px;
    }
  }
}

.media--nomargin {
  margin: 0;
}

.media--border-top {
  padding-top: 30px;
  border-top: 1px solid $border;
}

.media--valigin {
  display: table;
  > .media__item, .media__body {
    display: table-cell;
    vertical-align: middle;
  }
  > .media__item {
    float: none;
  }
  > .media__body {
    width: 100%;
  }
}

.media--grid-1-2 {
  width: 100%;
  @include breakpoint (tablet) {
    width: 50%;
  }
}

.media--grid-1-3 {
  margin-left: $base-spacing-unit;
  @include calc (width, 100% / 3, "-", $base-spacing-unit, 32%);
  &--lalign {
    margin-left: 0;
    margin-right: $base-spacing-unit;
  }
  &:nth-child(3n) {
    margin-left: 0;
  }
  .media__body {
    text-align: center;
  }
}

.media--text-right {
  text-align: right;
}

.media--change {
  @extend .media--large;
  p {
    display: none;
  }
  .link--border-top {
    border: none;
  }
  @include breakpoint (tablet) {
    .media__item {
      width: auto;
    }
    .media__body {
      width: auto;
      .link--border-top {
        border-top: 3px solid $gold;
        padding-top: 5px;
      }
      p {
        display: block;
      }
      .g_gutter {
        display: none;
      }
    }
  }
}