/*
|------------------------------------------------------------
| Navigation
|------------------------------------------------------------
*/
.navigation {
	display: block;
	margin: 0;
	@include breakpoint (tablet) {
		margin: $base-spacing-unit 0 0;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		@extend %clearfix;
		&.list-style-square {
			li {
				@include breakpoint (tablet) {
					background: image-url("icons/list-style.png") no-repeat left center;
					padding-left: 15px;
				}
				&:last-child {
					background: none;
					padding-left: 0;
				}
			}
		}
		&.list-style-dash {
			li {
				background: image-url("icons/dash.png") no-repeat left center;
				padding-left: 15px;
				&:last-child {
					background: none;
					padding-left: 0;
				}
			}
		}
		li {
			float: right;
			margin: 5px 10px;
			a {
				display: block;
				color: $dark-gray;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.link {
		color: $gold;
	}
}

.navigation__mobile-item {
	float: right;
	width: 50%;
	padding: 10px 0;
	background: $light-gray;
	color: $dark-gray;
	border: 1px solid $border;
	&:hover {
		text-decoration: underline;
	}
	&:nth-child(2n) {
		border-right: none;
	}
	@include breakpoint (tablet) {
		display: none;
	}
}

.navigation--main {
	font-size: 16px;
	@include breakpoint (tablet) {
		display: inline-block;
	}
	ul {
		display: none;
		@include breakpoint (tablet) {
			display: block;
		}
		li {
			width: 50%;
			margin: 5px 0;
			@include breakpoint (tablet) {
				width: auto;
				margin: 5px 10px;
			}
		}
	}
}

.navigation--widget {
	@include breakpoint (tablet) {
		text-align: right;
	}
	ul {
		li {
			border-bottom: 1px solid #C3C3C3;
			&:last-child {
				border: none;
			}
		}
	}
	a {
		padding: 5px 0;
	}
}

.navigation--tags {
	display: inline-block;
	margin: 0;
	vertical-align: top;
	ul {
		li {
			margin: 5px 10px;
			@include breakpoint (tablet) {
				margin: 0 10px;
			}
			a {
				padding: 5px 10px;
				border: 1px solid $gold;
			}
		}
	}
}

.navigation--padding-right {
	padding-right: $base-spacing-unit;
}

.navigation--footer {
	float: right;
	width: 60%;
	text-align: center;
	margin: 0;
	display: none;
	@include breakpoint (tablet) {
		display: block;
	}
	ul {
		li {
			float: none;
			display: inline-block;
		}
	}
}

.navigation--social {
	display: block;
	text-align: center;
	margin: $base-spacing-unit 0 0;
	@include breakpoint (tablet) {
		width: 20%;
		margin: 0;
		float: left;
	}
	ul {
		li {
			float: none;
			display: inline-block;
			margin: 0 5px;
		}
	}
}

.navigation--pagination {
	ul {
		margin: 0 0 10px;
		li {
			margin: 5px;
			&:first-child {
				margin-right: 0;
			}
			a {
				width: 50px;
				padding: 13px 0;
				border: 1px solid $light-gray;
				text-align: center;
				color: $dark-gray;
				&:hover, &.active {
					border: 1px solid $gold;
					color: $gold;
					text-decoration: none;
				}
			}
		}	
	}
}