/*
|------------------------------------------------------------
| Newsletter
|------------------------------------------------------------
*/
#b_newsletter {
	display: block;
	width: 90%;
	height: 45px;
	position: relative;
	margin: 0 auto 20px;
}

#b_newsletter__email {
	display: block;
	width: 100%;
	height: 100%;
	background: $white;
	color: $dark-gray;
	padding-right: 55px;
	font-size: 11px;
	@include input-placeholder {
		color: $dark-gray;
	}
	@include breakpoint (tablet) {
		padding-right: 100px;
		font-size: 16px;
	}
}