/*
|------------------------------------------------------------
| Article header
|------------------------------------------------------------
*/
.b_site-heading {
	display: block;
	width: 100%;
	@extend %clearfix;
	h1 {
		@extend %kufi--bold;
		font-size: 30px;
		line-height: 48px;
		color: $dark-gray;
		text-align: center;
	}
}

.b_site-heading--categorie {
	padding: 0 10px;
	h1 {
		display: block;
		color: $dark-gray;
		margin: 5px 0;
		@include breakpoint (tablet) {
			display: inline-block;
			max-width: 135px;
			color: $gold;
			@include translate (0, 50%);
		}
	}
	p {
		display: block;
		color: $dark-gray;
		margin: 5px 0;
		@include breakpoint (tablet) {
			display: inline-block;
			max-width: 415px;
			margin-right: $base-spacing-unit;
			@include translate (0, 50%);
		}
	}
}

.b_site-heading__image {
	float: left;
}