/*
|------------------------------------------------------------
| Section
|------------------------------------------------------------
*/

.section {
	display: block;
	clear: both;
	margin-bottom: 50px;
	padding: 0 5px;
	@include breakpoint (tablet) {
		padding: 0;
	}
	&--no-margin {
		margin-bottom: 0;
	}
	&--text-overlay {
		position: relative;
		.section__banner {
			max-height: 500px;
			overflow: hidden;
		}
	}
	&--dark {
		background: $dark;
		color: $white;
		@extend %kufi--bold;
		.media__body {
			.media__title {
				color: #BFBFBF;
			}
		}
	}
	&--lgray {
		background: $light-gray;
	}
	p {
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		@extend %naskh;
	}
}

.section__banner {
	margin: 0 auto;
	background: $black;
	&--padding {
		padding: 10px 0;
	}
	&--nobg {
		background: none;
	}
	img {
		margin: 0 auto;
	}
}

.section__title {
	color: $white;
	font-size: 24px;
	line-height: 1.5;
	text-align: center;
	@extend %kufi--bold;
	@include breakpoint (tablet) {
		text-align: right;
	}
	&--center {
		text-align: center;
	}
	&--dark {
		color: $dark-gray;
	}
}