/*
|------------------------------------------------------------
| Social
|------------------------------------------------------------
*/

.b_social {
	display: block;
	text-align: center;
	a {
		margin: 10px 5px;
		display: inline-block;
		vertical-align: top;
	}
}

.b_social--block {
	float: right;
	padding: $base-spacing-unit 0;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	a {
		margin: 10px 5px;
	}
}