/*
|------------------------------------------------------------
| Text overlay
|------------------------------------------------------------
*/
.text-overlay {
	position: absolute;
	left: 50%;
	@include translate (-50%, 0);
	bottom: -30px;
	width: 90%;
	padding: 10px 20px;
	background: $white;
	border-bottom: 1px solid #999;
	text-align: center;
	@include breakpoint (tablet) {
		max-width: 550px;
	}
	h2 {
		@extend %kufi--bold;
		text-align: center;
		font-size: 16px;
		line-height: 1.5;
		color: $dark-gray;
		margin: 5px 0 10px;
		@include breakpoint (tablet) {
			font-size: 28px;
			line-height: 44px;
		}
	}
	.item-categorie {
		display: block;
		text-align: center;
	}
	.b_editor {
		margin: 0;
		@include breakpoint (tablet) {
			display: none;
		}
	}
}