/*
|------------------------------------------------------------
| Tags
|------------------------------------------------------------
*/
.tags {
	@extend %base-float;
	margin-top: 50px;
	text-align: center;
	&--text-right {
		text-align: right;
	}
	.link {
		vertical-align: top;
	}
	span {
		display: inline-block;
		padding: 5px 10px;
	}
}