/*
|------------------------------------------------------------
| Helpers
|------------------------------------------------------------
*/

.clearfix { @extend %clearfix; }
.clear { clear: both; }
.hide { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.fleft { float: left; }
.fright { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-hide { @extend %hide-text; }
.fixed { position: fixed; }
.absolute { position: absolute; }
.relative { position: relative; }
.vertical-top { vertical-align: top; }
.vertical-middle { vertical-align: middle; }
.seam { @extend %seam; }

.desktop {
	display: none;
	@include breakpoint (tablet) {
		display: block;
	}
}