/*
|------------------------------------------------------------
| Placeholders
|------------------------------------------------------------
*/

%clearfix {
    *zoom:1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
%hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
%base-float {
	width: 100%;
	float: right;
}
%seam {
    clear: both;
    display: block;
    height: 0px;
    border-top: 1px solid rgba($black, .12);
    border-bottom: 1px solid rgba($white, .15);
} 
%well {
    box-shadow: inset 0 1px 5px rgba($black, .14);
    border-radius: $border-radius-medium;
}
%off-white-well {
    @extend %well;
    background-color: $off-white;
}
%light-gray-well {
    @extend %well;
    background-color: $light-gray;
}