/*
|------------------------------------------------------------
| Variables
|------------------------------------------------------------
*/

// Vertical rhythm
$base-font-size: 14px;
$base-line-height: 21px;
@include establish-baseline;

// Dimensions
$container-width: 1140px;
$base-spacing-unit: 20px;

$border-radius-small: 5px;
$border-radius-medium: 10px;

// RGBAPNG backgroudn
$rgbapng_path: 'rgba_pngs';
$rgbapng_px_size: 3;

// Sprites
// $icons: sprite-map("icons/*.png", $spacing: 5px);

// Colors
$white: #FFF;
$off-white: #DDD;
$black: #000;
$light-gray: #E1E1E1;
$dark-gray: #444;
$gold: #9E914C;
$border: #EDEDED;
$dark: #2B2B2B;
$para-color: #6A6A6A;