/*
|------------------------------------------------------------
| Article wrapper
|------------------------------------------------------------
*/

.article-wrapper {
	max-width: 580px;
	float: right;
	@include breakpoint (tablet) {
		padding-left: 50px;
		width: 50%;
	}
	&--no-padding {
		padding: 0;
	}
}

.article-wrapper__title {
	text-align: center;
	font-size: 18px;
}

.article-wrapper__inner-wrapper {
	@extend %base-float;
	padding-right: $base-spacing-unit;
	&--lalign {
		padding-right: 0;
		padding-left: $base-spacing-unit;
		@include breakpoint (tablet) {
			padding: 0;
		}
	}
	&--border-left {
		border: none;
		@include breakpoint (tablet) {
			border-left: 1px solid #D6D6D6;	
		}
	}
}