/*
|------------------------------------------------------------
| Header
|------------------------------------------------------------
*/

.site-header {
	text-align: center;
	line-height: 1;
	margin-bottom: 0;
	@include breakpoint (tablet) {
		margin-bottom: $base-spacing-unit;
	}
}