/*
|------------------------------------------------------------
| Sliders
|------------------------------------------------------------
*/
.has-slider {
	display: block;
	@extend %clearfix;
}
.flexslider {
	background: none;
	border: none;
	.slides {
		img {
			max-width: 100%;
			width: auto;
		}
	}
	.media {
		margin: 0;
	}
}
.flex-control-nav {
	li {
		a {
			background: #515151;
			&:hover {
				background: $gold;
			}
			&.flex-active {
				background: $gold;
			}
		}
	}
}