/*
|------------------------------------------------------------
| Widget
|------------------------------------------------------------
*/

.widget {
	float: none;
	clear: both;
	margin-bottom: 30px;
	padding: 10px;
	@include breakpoint (tablet) {
		float: left;
		clear: none;
		max-width: 380px;
	}
	&--dark {
		color: $white;
		background: $dark;
		.media {
			.media__body {
				.media__title {
					color: $white;
				}
			}
		}		
	}
	&--gray {
		background: $light-gray;
	}
	&--center {
		text-align: center;
		img {
			margin: 0 auto;
		}
		.media {
			.media__item {
				img {
					margin: 0 auto;
				}
			}
		}
	}
	&--border {
		border: 1px solid $border;
	}
	&--border-right {
		border-right: 1px solid $border;
	}
	&--no-padding {
		padding: 0;
	}
	.media {
		float: none;
		@include breakpoint (tablet) {
			float: right;
		}
	}
	.widget__title {
		font-size: 24px;
		margin: 0 0 $base-spacing-unit;
		text-align: center;
		&--inline {
			display: inline-block;
			padding: 10px 0 0;
			vertical-align: top;
		}
	}
	.widget-selection {
		display: block;
		border: none;
		margin: 10px auto;
		padding: 0 50px;
		.widget-selection__item {
			display: block;
			text-align: right;
			@extend %clearfix;
			input {
				display: none;
				&:checked + label {
					background: image-url("icons/checked.png") no-repeat right center;
				}
			}
			label {
				display: block;
				width: 100%;
				padding: 5px 35px 5px 0;
				margin: 10px 0;
				color: $white;
				line-height: 1;
				background: image-url("icons/unchecked.png") no-repeat right center;
			}
		}
	}
}