/*
|------------------------------------------------------------
| Button
|------------------------------------------------------------
*/

.button {
	display: inline-block;
	background: $gold;
	color: $white;
	padding: 5px 10px;
	text-transform: uppercase;
	line-height: 1;
	@extend %naskh;
}

.button--send {
	position: absolute;
	top: 5px;
	left: 5px;
	border: none;
	padding: 10px 20px;
}

.button--comment {
	padding: 13px 10px;
}

.button--large {
	font-size: 18px;
	margin-top: $base-spacing-unit;
	padding: 10px 20px;
}