/*
|------------------------------------------------------------
| Gutter
|------------------------------------------------------------
*/
.g_gutter {
	float: right;
	width: 50px;
	margin: 10px 5px 0 10px;
	border-top: 3px solid $gold;
}

.g_gutter--image {
	border: none;
	margin: 0 0 0 10px;
	width: auto;
}