/*
|------------------------------------------------------------
| Global
|------------------------------------------------------------
*/

.icon {
	display: inline-block;
	&.menu {
		float: right;
		cursor: pointer;
		margin: 5px $base-spacing-unit 0 0;
		@include icons-sprite (menu);
		width: image-width("icons/menu.png");
		height: image-height("icons/menu.png");
		@extend %hide-text;
		@include breakpoint (tablet) {
			display: none;
		}
	}
	&.search {
		float: left;
		margin: 30px 0 0 $base-spacing-unit;
		cursor: pointer;
		@include icons-sprite (search);
		width: image-width("icons/search.png");
		height: image-height("icons/search.png");
		@extend %hide-text;
		@include breakpoint (phone) {
			margin-top: 5px;
			background: transparent image-url("icons/search2x.png") no-repeat left top;
			width: image-width("icons/search2x.png");
			height: image-height("icons/search2x.png");
		}
	}
	&.gallery {
		position: absolute;
		right: 0;
		bottom: 0;
		@include icons-sprite (gallery);
		width: image-width("icons/gallery.png");
		height: image-height("icons/gallery.png");
	}
	&.video {
		position: absolute;
		right: 0;
		bottom: 0;
		@include icons-sprite (video);
		width: image-width("icons/video.png");
		height: image-height("icons/video.png");
	}
	&.search--gray {
		position: absolute;
		right: 0;
		bottom: 0;
		@include icons-sprite (search-overlay);
		width: image-width("icons/search-overlay.png");
		height: image-width("icons/search-overlay.png");
	}
	&.email {
		position: absolute;
		right: 5px;
		top: 5px;
		@include icons-sprite (letter);
		width: image-width("icons/letter.png");
		height: image-height("icons/letter.png");
	}
	&.comment {
		float: right;
		margin-left: 10px;
	    @include icons-sprite(comment);
	    width: image-width("icons/comment.png");
	    height: image-height("icons/comment.png");
	}
	&.arrow-down {
		margin-right: 10px;
	    @include icons-sprite(arrow-down);
	    width: image-width("icons/arrow-down.png");
	    height: image-height("icons/arrow-down.png");
	}
	&.time {
	    display: inline-block;
	    vertical-align: middle;
	    margin-left: 5px;
	    @include icons-sprite(time);
	    width: image-width("icons/time.png");
	    height: image-height("icons/time.png");
	}
	&.placepin {
	    display: inline-block;
	    vertical-align: middle;
	    margin-left: 5px;
	    @include icons-sprite(place);
	    width: image-width("icons/place.png");
	    height: image-height("icons/place.png");
	}
}