/*
|------------------------------------------------------------
| Button
|------------------------------------------------------------
*/

.g_logo {
	display: inline-block;
	text-align: center;
	@include breakpoint (desktop) {
		display: block;
	}
	&--header {
		padding: 5px 10px 0;
		border-width: 0 1px;
		border-style: solid;
		border-color: $border;
		@include breakpoint (tablet) {
			border: none;
		}
	}
	&--widget {
		display: inline-block;
		@include breakpoint (tablet) {
			display: inline-block;
		}
	}
	&--footer {
		display: block;
		@include breakpoint (tablet) {
			float: right;
			width: 20%;	
		}		
	}
	a {
		display: block;
		img {
			margin: 0 auto;
		}
	}
}