/*
|------------------------------------------------------------
| Link
|------------------------------------------------------------
*/
.link {
	display: inline-block;
	color: $gold;
	font-size: 18px;
	@extend %naskh;
	&--border-top {
		border-top: 3px solid $gold;
		padding-top: 5px;
	}
	&--read-more {
		border-bottom: 1px solid $gold;
		line-height: 1.5;
		margin: 10px 0;
		&::after {
			content: "»" !important;
		}
	}
	&--no-border {
		border: none !important;
	}
	&--block {
		display: block;
		text-align: center;
		text-decoration: underline;
	}
	&--hastag {
		margin: 5px 10px;
	}
}