/*
|------------------------------------------------------------
| Comment
|------------------------------------------------------------
*/
.g_reply {
	display: inline-block;
	margin-left: 10px;
	color: $white;
	background: #9A9A9A;
	padding: 0 10px;
	@include border-radius(1em);
}