/*
|------------------------------------------------------------
| Separator	
|------------------------------------------------------------
*/

.separator {
    display: inline-block;
    margin: 0 5px;
    &.hline {
        display: block;
        margin: 0 auto $base-spacing-unit;
        height: 3px;
        width: 50px;
        background: $gold;
    }
    &.hline--right {
    	margin: 0 0 20px;
    }
}