/*
|------------------------------------------------------------
| Wrapper
|------------------------------------------------------------
*/

.wrapper {
    @extend %clearfix;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0;
    &--border-top {
    	padding-top: 30px;
		border-top: 1px solid $border;
	}
}
